
{{!app/templates/componets/formulario-pessoa.hbs}}

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<label for="nome">Nome</label>
	{{input class="form-control" id="nome" value=pessoa.nome action='salvarAoPressionarEnter' on='enter'}}
	{{mensagem-validacao erros=pessoa.errors.nome}}
</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<label for="sobrenome">Sobrenome</label>
	{{input class="form-control" id="sobrenome" value=pessoa.sobrenome}}
	{{mensagem-validacao erros=pessoa.errors.sobrenome}}
</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<label for="nascidoEm">Data Nascimento</label>
	{{input class="form-control" id="nascidoEm" value=pessoa.nascidoEm type='date'}}
	{{mensagem-validacao erros=pessoa.errors.nascidoEm}}
</div>

<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
    <label for="prefixo">Prefixo</label>
    {{input class="form-control" id="prefixo" value=telefone.prefixo type='number'}}
    {{mensagem-validacao erros=telefone.errors.prefixo}}
  </div>

  <div class="col-xs-7 col-sm-7 col-md-3 col-lg-2">
    <label for="numero">Número</label>
    {{input class="form-control" id="numero" value=telefone.numero type='number'}}
    {{mensagem-validacao erros=telefone.errors.numero}}
  </div>

  <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
    <label></label>
    <button class="btn btn-default form-control" {{action 'adicionarTelefone' telefone}}>
      Adicionar
    </button>
  </div>  
</div>

{{#each pessoa.telefones as |telefone|}}
  <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
      <label></label>
      {{input class="form-control" value=telefone.prefixo type='number'}}
    </div>

    <div class="col-xs-7 col-sm-7 col-md-3 col-lg-2">
      <label></label>
      {{input class="form-control" value=telefone.numero type='number'}}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
      <label></label>
      <button class="btn btn-danger form-control" {{action 'removerTelefone' telefone}}>
        Remover
      </button>
    </div>
  </div>
{{/each}}

<div class="row">
  <div class="col-xs-offset-9 col-xs-3 col-sm-offset-9 col-sm-3 col-md-offset-10 col-md-2 col-lg-offset-10 col-lg-2">
    <label></label>
    <button id="salvar" class="btn btn-primary form-control" {{action 'salvar' pessoa}}>
      Salvar
    </button>
  </div>
</div>