
{{!app/components/mostra-pessoa.hbs}}

<div class="row">
	<label>Nome:</label> {{pessoa.nome}} {{pessoa.sobrenome}}
</div>

{{#if pessoa.nascidoEm}}
	<div class="col-xs-12 col-sm-6 col-md-3 col-md-2">
		<label>Aniversário:</label> {{formata-data pessoa.nascidoEm}}
	</div>
{{/if}}

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 col-md-2">
		<label>Telefones:</label>
	</div>
	{{#each pessoa.telefones as |telefone|}}
		<div class="col-xs-12 col-sm-6 col-md-3 col-md-2">
	    	({{telefone.prefixo}}) {{telefone.numero}}
	    </div>
	{{/each}}
</div>
